<%# The @article object is available to
any partials rendered in the view because
we defined it as an instance variable %>
<%= form_with model: [@article, @article.comments.build] do |form| %>
  <p>
    <%= form.label :commenter %><br>
    <%= form.text_field :commenter %>
  </p>
  <p>
    <%= form.label :body %><br>
    <%= form.text_area :body %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>
